#more{
    display: none;
}

.icon-bar a{
    font-size: 20px;
   
}
/* .icon-bar {
    justify-content: space-around;
} */
footer .list li{
    list-style: none;
}
footer{
    background-color: darkslategray;
}

.girl {
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.girl:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    padding: 10px;
    
}
/*.slideanim {visibility:hidden;}*/
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.slideanim{visibility: hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;	
    animation-duration: 1s;	
    -webkit-animation-duration: 1s;
    visibility: visible;			
}
@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }	
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#preloader {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: black;
  z-index: 1;
}
.preloader {
  position: absolute;
  margin: 0 auto;
  left: 1%;
  right: 1%;
  top: 47%;
  width: 65px;
  height: 65px;
  background: center center no-repeat none;
  background-size: 65px 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%
}
.loader {
  display: block;
  margin: 20px auto 0;
  vertical-align: middle;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */


/* Number text (1/3 etc) */


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.col-md-4 a{
  font-size: 20px;
}
.col-md-4 address{
  font-size: 20px;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.thumbnail img:hover{
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  transition: 1s ease;
  padding: 40px;
  cursor: -webkit-grabbing;
  opacity: 0.5;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.page:hover{
  box-shadow: 0 ,2 ,0.5 , hsla(0, 10%, 20%, 0.5);
  cursor: pointer;
  
  transition: 0.9S ease;
  color: black;
  background: khaki;
  -webkit-background-clip: border-box;
  -webkit-animation-direction: alternate-reverse;
  border-radius: 20px;
 opacity: 0.5;
 transform: scale(0.9);
}
.edit a:hover{
  transition: 1s ease;
  transform: scale(1.1);
  color: cornsilk;
  cursor: pointer;

}
.hello{
  float: right;
  text-align: end;
}
@media (max-width: 768px) {
    .nav-link {
        display: block;
    }
}
